.smoothscrolls{
	font-weight: 600;
}
.video-link img:hover{	
animation-name:transformm;
animation-duration:1.5s;
}
@keyframes transformm{
from{-moz-transform: rotate(0deg); /* Для Firefox */
    -ms-transform: rotate(0deg); /* Для IE */
    -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg); /* Для Opera */
    transform: rotate(0deg);}
	
to{-moz-transform: rotate(360deg); /* Для Firefox */
    -ms-transform: rotate(360deg); /* Для IE */
    -webkit-transform: rotate(360deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(360deg); /* Для Opera */
    transform: rotate(360deg);}}
.intros h5 {	
color:#64C805;
text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.intros h1 {	
color:#64C832;
text-shadow: 1px 1px 2px black, 0 0 1em black;
}
#process{
	background-color:#DCDCDC;
}
.left-side{
	font-weight: 600;
	
}
.left-side a {
	font-weight: 800;
}
.service-content h4 {
	color:white;
}
.h05{
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.section-int h1{
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.section-int h5{
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}